<div class = "container";>
<!-- id = "loginmodal" style = "display:none" -->
<h1>Sign up for Vista below!</h1>
<br>

<%= form_for(@user) do |f| %>

  <% flash.each do |key, value| %>
    <div class="<%= key %>" > <%= value %> </div>
  <% end %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Sign up"%>

<% end %>

</div>
