<div id = "user-page">
  <% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
       <h1><%= @user.name %></h1>
        <br>
       <ul>
        <li><%= @user.id %></li>
        <li><%= @user.email %></li>
        <li><%= @user.posts.count %> reviews</li>
        <br>
        <img class = "profpic" src = "<%= @user.image_url%>">
      </ul>
      </section>
    </aside>
  </div>
</div>

