<div id = "user-page">
  <% provide(:title, @user.name) %>
  <div class="row">
      <section class="user_info">
       <h1><%= @user.name %></h1>
        <br>
       <ul>
          <% if @user.admin? %>
           <h4><span id = "admin"><em>Administrator</em></span></h4>
          <%end%>
          <br>
          <h4>Contact at: <%= @user.email %></h4>
          <br>
          <img class = "profpic" src = "<%= @user.image_url%>">
          <% if current_user?(@user) %>
          <br>
          <h4>Add a review <%= link_to 'Here!', new_post_path %></h4>
          <br>
          <h4><%= link_to "Delete my account", @user, method: :delete,
          data: { confirm: "You sure?" } %></h4>
          <%end%>
          <h4>Total number of reviews: <%= @posts.count %></h4>
          <br>
      </ul>
      </section>
      <% if @posts.any? %>
      <ol class="post">
      <h2><%= @user.name %> reviewed: </h2>
      <% @posts.each do |post| %>
        <h3><%= post.hike.name %></h3>
        <h4><img class = "postpic" src = "<%= post.img_url%>"></h4>
        <h4><%= link_to 'Read on', post_path(post)%></h4>
      <% end %>
      </ol>
    <% end %>
  </div>
</div>

