<div id = "user-page">
  <% provide(:title, @user.name) %>
  <div class="row">
      <section class="user_info">
       <h1><%= @user.name %></h1>
        <br>
       <ul>
          User <%= @user.id %>
          <br>
          <%= @user.email %>
          <br>
          <img class = "profpic" src = "<%= @user.image_url%>">
          <br>
          Number of reviews: <%= @user.posts.count %>
      <br>
    Add a review <%= link_to 'Here!', new_post_path %>
      </ul>
      </section>
  </div>
</div>

