<h2><%=@hike.name%><h2>
<h3>Location: <%=@hike.city%>, <%=@hike.state%> <%=@hike.zip%></h3>
<br>

<!-- Added in 'barometer' API weather references here. -->
<h3><em>Current conditions:</em></h3>
<h4>Temperature: <%=  Barometer.new(@hike.city).measure.current.temperature %>&deg </h4>
<h4>Sunrise: <%= Barometer.new(@hike.city).measure.current.sun.rise %></h4>
<h4>Sunset: <%= Barometer.new(@hike.city).measure.current.sun.set %></h4>
<h4>Visibility: <%=Barometer.new(@hike.city).measure.current.visibility%></h4>
<h4>Wind/wind chill: <%=Barometer.new(@hike.city).measure.current.wind%></h4>
<br>
<h4>Forecast: <%=  Barometer.new(@hike.city).measure.forecast.first.icon%></h4>

<h3>Want to explore? <%=link_to "See reviews", posts_path%></h3>

<h3>Taken this hike? <%=link_to "Add a review.", new_post_path%></h3>
<!-- If you are an admin, can delete or edit. Add auth here -->
<% if current_user.admin? %>
<button type="button" id = "destroy-hike" class="btn btn-danger"><%= link_to "Delete this hike", hike_path(@hike.id), method: :delete %></button>
<button type="button" id = "edit-hike" class="btn btn-success"><%= link_to "Edit this hike",
edit_hike_path(@hike.id)%></button>

<% end %>





