<h2><%=@hike.name%><h2>
<h3>Location: <%=@hike.city%>, <%=@hike.state%> <%=@hike.zip%></h3>
<br>

<!-- Add in 'barometer' API weather references here. -->
<h4>Current conditions: <%= @weather %> degrees C </h4>


<h3>Want to explore? <%=link_to "See reviews", posts_path%></h3>

<h3>Taken this hike? <%=link_to "Add a review.", new_post_path%></h3>
<!-- If you are an admin, can delete or edit. Add auth here -->
<% if current_user.admin? %>
<button type="button" id = "destroy-hike" class="btn btn-danger"><%= link_to "Delete this hike", hike_path(@hike.id), method: :delete %></button>
<button type="button" id = "edit-hike" class="btn btn-success"><%= link_to "Edit this hike",
edit_hike_path(@hike.id)%></button>
<% else %>
  <% redirect_to root_path %>
  <%= flash[:danger] = 'Log in or register to view hikes.' %>
<% end %>




