<h2><%=@hike.name%><h2>
<h3>Location: <%=@hike.city%>, <%=@hike.state%> <%=@hike.zip%></h3>
<br>
<h3>Want to explore? <%=link_to "See reviews", posts_path%></h3>
<!-- Change path below to reflect 'new' review path -->
<h3>Taken this hike? <%=link_to "Add a review.", new_post_path%></h3>
<!-- If you are the user who added this hike, can delete. Add auth here -->
<button type="button" id = "destroy-hike" class="btn btn-danger"><%= link_to "Delete this hike", hike_path(@hike.id), method: :delete %></button>
<button type="button" id = "edit-hike" class="btn btn-success"><%= link_to "Edit this hike",
edit_hike_path(@hike.id)%></button>
