<h1>Edit your review below.</h1>

<%= form_for(@post) do |f| %>
  <!-- The reviewer and reviewed hike are static. -->
  <!-- Only the reviewer can edit the review. -->

  <div>Reviewed by <%=@post.user.name%>
    <%= f.hidden_field :user_id, include_blank: false %>
  </div>

  <div>Hike: <%=@post.hike.name%>
    <%= f.hidden_field :hike_id, include_blank: false %>
  </div>

  <div>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_field :content, :style => "width: 200px; height: 100px" %>
  </div>

 <!--  Also, add in a label referencing the hike! I.e. review.hike
  Once you've created the join table -->

  <button type="button" id = "edit-post" class="btn btn-success" ><%= f.submit %></button>
<% end %>

