<h1>Edit your review below.</h1>

<%= form_for(@post) do |f| %>
<!-- Referencing the API namespace above. -->
<!-- NOTE: you want the user name to be static. -->
  <div>User
    <%= f.collection_select :user_id, User.order(:name),:id,:name, include_blank: false %>
  </div>
<!-- NOTE: you want the hike name to be static. -->
  <!-- Try adding picklist for hike name below. -->
  <div>Hike
    <%= f.collection_select :hike_id, Hike.order(:name),:id,:name, include_blank: false %>
  </div>

  <div>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_field :content, :style => "width: 300px; height: 200px" %>
  </div>

 <!--  Also, add in a label referencing the hike! I.e. review.hike
  Once you've created the join table -->

  <button type="button" id = "edit-post" class="btn btn-success" ><%= f.submit %></button>
<% end %>

