<h1>Reviews</h1>
<div id = "reviews">
<% @posts.each do |post| %>
  <h4>Review by User <%= post.user.email %> at datetime  </h4>
  <!-- Connect user name here after updating relations -->
  <img class = "postpic" src = "<%= post.img_url%>">
  <p><%= post.text %></p>
  <button type="button" class="btn btn-success" id = "upvotes">Upvotes:<%= post.upvotes%></button>
  <!-- When you click upvotes, upvotes +=1  -->
  <button type="button" class="btn btn-danger" id = "downvotes">Downvotes:<%= post.downvotes%></button>
  <!-- When you click downvotes, downvotes +=1 -->
  <!-- Add button/click logic above for upvotes/downvotes. -->
<%end%>
</div>
<h4>Thoughts? <%= link_to "Add your review", new_post_path %> </h4>
