<ul class = "nav navbar-nav navbar-fixed-top navbar-left">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Hikes', hikes_path %></li>
  <li><%= link_to 'Reviews', posts_path %></li>


  <% if logged_in?  %>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to('Your profile', user_path(current_user), class: "btn btn-default navbar-btn", type: "button") if params[:controller] != "users" %></li>
  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
  <li><%= link_to 'Log out', session_path(current_user), class: "btn btn-default navbar-btn", type: "button", method: :delete %></li>
  <% else %>
      <li><a href="#" class="btn btn-sm btn-default"
   data-toggle="modal" data-controls-modal="modal-from-dom" data-backdrop="static" data-keyboard="true" data-target="#loginModal">Login or Register</a></li>
   <!-- This modal above will cover the login and register buttons.
   It will render the modal, hiding and showing login vs. register.-->
  <% end %>


</ul>
