<ul class = "nav navbar-nav navbar-fixed-top navbar-left">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to "Login", new_session_path %></li>
  <!-- Add if/else for current user = logout, not current user = login -->
  <li><%= link_to 'Register', new_user_path %></li>
  <li><%= link_to 'Hikes', api_hikes_path %></li>
  <li><%= link_to 'Reviews', posts_path %></li>
</ul>
